body{
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
}
.content{
  margin: 0 auto;
  max-width: 1170px;
}

.clear-fix:after{
  content: '';
  display: table;
  clear: both;
}
.header-top {
  padding: 5px 0;
  background-color: #2b2b2b;
  font-size: 14px;
  line-height: 1.7;
}

.phone {
  color: #7f7f7f;
  font-size: 14px;
  text-decoration: none;
  float: left;
}
.user-log {
  float: right;
}
.user-log a {
  color: #666666;
  text-decoration: none;
  margin: 0 10px;
}
.user-log span{
  font-size: 12px;
  color: #3b3b3b;
  line-height: 2;
}

@media (max-width: 479px){
  .header-top{
    text-align: center;
  }
  .user-log,
  .phone{
    display: block;
    float: none;
  }
}

.header-content{
  background-color: #232323;
  padding: 30px 0;
}
.logo {
  float: left;
}
.search{
  float: right;
  border: 2px solid #323232;
}
input{
  width: 255px;
  background-color: inherit;
  vertical-align: top;
  color: #666666;
  font-size: 13px;
  line-height: 1.85;
  padding: 15px ;
  border: none;
}
button {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: transparent url(Search.png) 0 0 no-repeat;
  border: none;
}
@media (max-width: 479px) {
  .header-content{
    text-align: center;
  }
  .logo,
  .search{
    float: none;
  }
  .search{
    margin-top: 10px;
    display: inline-block;
  }

}

nav:before{
  content: '';
  display: table;
  clear: both;
}

ul {
  margin-top: 30px;
  float: left;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
}
li {
  display: inline-block;
}
li+li{
  padding-left: 45px;
}
@media (max-width: 650px){
  li{
    display: block;
    text-align: left;
  }
  li+li{
    padding: 0px;
  }
}
li > a{
  text-decoration: none;
  color: #ffffff;
}
#orange{
  color: #be926f;
}

.bag{
  float: right;
  margin-top: 30px ;
}
.bag:after{
  display: inline-block;
  position:relative;
  top: -15px;
  right: 7px;
  width: 18px;
  height: 18px;
  content: '2';
  line-height: 1.5;
  background: #be926f;
  border-radius: 100% ;
  text-align: center;
  font-size: 12px;
  color: #232323;
}

.contact {
  padding: 30px 0;
  background-color: #f7f7f7;
  box-sizing: border-box;

}
.contact > .content{
  background-color: #e7e7e7;
  padding:40px 0;
}
.contact-us a{
  padding-left: 43px;
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 0.8;
  color: #232323;
}
.HC {
  padding-right: 23px;
  float: right;
  top:-50%;
  font-size: 14px;
  line-height: 1.7;
}
.HC a{
  text-decoration: none;
  color: #999999;
}

.HC a + a{
  color: #666666;
}

@media (max-width: 479px){
  .contact{
    text-align: center;
  }
  .contact-us a,
  .HC{
    float: none;
    padding: 0;
  }
}
