html
{font-family: 'Montserrat', sans-serif;}

body
{
  min-width: 1170px;
}

.container
{
  margin: 0 auto;
  width: 1170px;
}

.clear-fix:after  /**что это?*/
{
  content:'';
  display: table;
  clear: both;
}


.header-top
{
  padding: 5px;
  background-color: #2b2b2b;
}

.header-phone
{
  float: left;
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  text-decoration: none;
}


.register
{
  float: right;
  font-size: 14px;
  line-height: 1.7;
}

.register a
{
  color:#666666;
  text-decoration: none;
}
.register a:hover
{
  text-decoration: underline;
}

.register span
{
  margin: 14px;
  font-size: 12px;
  line-height: 1.2;
  color: #3b3b3b;
}
.header-bottom
{
  background-color: #232323;
  padding: 30px 0;
}

.logo
{
  float:left;
}
.search
{
  float: right;
}

.search
{
  border: 1px solid #323232;
}



.search input
{
  display: inline-block;
background-color: transparent;
  vertical-align: top;
  border: none;
  line-height: 44px;
  padding: 0 18px 0 27px;
  color: white;
}
.search input:focus
{
  outline: none;
}
.search button
{
display: inline-block;
  width: 54px;
  height: 44px;
  background: transparent url(icon/Search.png) center center no-repeat;
  vertical-align: top;
  border: none;
}
.search button:focus
{
  outline: none;
}

.menu:before   /**что это?*/
{
  /**content:'';*/
  display: table;
  clear: both;
}

.menu ul
{
 margin-top: 20px;
  padding: 0;
  list-style: none;
}

.menu li
{
  display: inline-block;
}

.menu li + li
{
  margin-left:44px;
}

.menu a
{
  font-size: 16px;
  line-height: 1.5;
  color: #f0f0f0;
  text-decoration: none;
  padding: 0;
}
.menu a:hover,
.menu a.active
{
  color: #be926f;
}

.bag{
  float:right;
  margin-top:22px;
  width: 17px;
  height: 22px;
  padding: 10px;
  background: url("icon/Bag.png") center center no-repeat;
  text-decoration: none;
  color: #232323;
}

.bag:after{
  position: relative;
  top: -10px;
  right: -10px;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 100%;
  background-color: #be926f;
  font-size: 12px;
  text-align: center;
  content: attr(data-count);
}



/**ширина всего 1920 должна быть?*/


