html
{font-family: 'Montserrat', sans-serif;}

body
{

  margin: 0;
  min-width: 320px;
}

.container
{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.clear-fix:after  /**что это?*/
{
  content:'';
  display: table;
  clear: both;
}


.header-top
{
  padding: 3px;
  background-color: #2b2b2b;
}

.header-phone
{
  float: left;
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  text-decoration: none;
}


.register
{
  float: right;
  font-size: 14px;
  line-height: 1.7;
}

@media(max-width: 480px){
  .register,
  .header-phone
  {
    display: block;
    float: none;
    text-align: center;
  }
}

.register a
{
  color:#666666;
  text-decoration: none;
}
.register a:hover
{
  text-decoration: underline;
}

.register span
{
  margin: 14px 10px 14px 7px;
  font-size: 12px;
  line-height: 1.2;
  color: #3b3b3b;
}
.header-bottom
{
  background-color: #232323;
  padding: 33px 0 0 0;
}

.logo
{
  float:left;
}
.search
{
  float: right;
  border: 1px solid #323232;
}
@media(max-width: 480px) {
  .header-middle
  {
    text-align: center;
  }
  .logo
  {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
  }
  .search {
    display: inline-block;
  }
  .logo,
  .search{
    float: none;
  }
}

.search input
{
  display: inline-block;
  background-color: transparent;
  vertical-align: top;
  border: none;
  line-height: 44px;
  padding: 0 28px 0 31px;
  color: white;
}
.search input:focus
{
  outline: none;
}
.search button
{
  display: inline-block;
  width: 54px;
  height: 44px;
  background: transparent url(icon/Search.png) center center no-repeat;
  vertical-align: top;
  border: none;
}
.search button:focus
{
  outline: none;
}

.menu:before   /**что это?*/
{
  /**content:'';*/
  display: table;
  clear: both;
}

.menu ul
{
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

@media (min-width: 660px) {
  .menu li { display: inline-block; }
  .menu li + li { margin-left: 44px; }
}

.menu a
{
  font-size: 16px;
  line-height: 1.5;
  color: #f0f0f0;
  text-decoration: none;
  padding: 0;
}
.menu a:hover,
.menu a.active
{
  color: #be926f;
}

.bag{
  float:right;
  margin-top:22px;
  width: 17px;
  height: 22px;
  padding: 10px;
  background: url("icon/Bag.png") center center no-repeat;
  text-decoration: none;
  color: #232323;
}



.bag:after{
  position: relative;
  top: -10px;
  right: -10px;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 100%;
  background-color: #be926f;
  font-size: 12px;
  text-align: center;
  content: attr(data-count);
}

@media(max-width: 480px){
  .bag
  {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;

  }
  .bag:after
  {
    margin-bottom: 20px;
    position: relative;
    top: -10px;
    right: -215px;

  }

}
