$width: 100
$gutter: 15
$columns: 12


$content-width: 1170px

$background: #f7f7f7
$background-header-top: #2b2b2b
$background-header: #232323

$color-header-top: #7f7f7f
$color-header-top-profile: darken(#7f7f7f, 10%)
$color-header-top-profile--secondary: darken(#666666, 17%)
$color-header-menu: #ffffff

$color-article-title-h1: #232323
$color-article-title-speedbar: #999999
$color-article-title-speedbar--active: #666666

$color-article-content-title--default: #666666
$color-article-content--default: #666666
$color--default: #333333

$font-size--default: 14px
$font-lineheight--default: 1.5

$desktop: 1024px
$desktop-area: 75%

$tablet: 800px
$tablet-area: 90%

$mobile: 660px
$mobile-area: 90%

