.btn {
	display: inline-block;
	position: relative;
	padding: 15px 25px;
	border: 0;
	outline: none;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: em(14);
	font-weight: 700;
}

.btn {
	&-default {
		background-color: #fff;
		color: #777777;
		border: 1px solid #ddd;
	}
	&-primary {
		background-color: $color-primary;
		color: #fff;
		&:hover {
			background-color: lighten($color-primary, 5%);
		}
	}
	&-info {
		background-color: #00cbf6;
		color: #fff;
		&:hover {
			background-color: lighten(#00cbf6, 5%);
		}
	}
	&-dark {
		background-color: #2e4a5b;
		color: #fff;
		&:hover {
			background-color: lighten(#2e4a5b, 5%);
		}
	}
}

.btn {
	&-icon {
		i {
			font-size: em(25);
			vertical-align: middle;
			margin-right: 10px;
		}
	}
	&.btn-lg {
		i {
			font-size: em(28);
		}
	}
	&.btn-sm {
		i {
			font-size: em(22);
		}
	}
	&.btn-xs {
		i {
			font-size: em(20);
			margin-right: 5px;
		}
	}
}

.btn {
	&-border {
		border-top: 4px solid;
		&-bottom {
			border-bottom: 6px solid darken($color-primary, 5%);
		}
		&.btn-default {
			border-color: #777;
		}
		&.btn-primary {
			border-color: #fff;
		}
		&.btn-info {
			border-color: #fff;
		}
	}
}

.btn {
	&-lg {
		padding: 20px 35px;
		font-size: em(16);
	}
	&-sm {
		padding: 10px 20px;
		font-size: em(14);
	}
	&-xs {
		padding: 5px 10px;
		font-size: em(12);
	}
}

.btn-width {
	padding: 10px 45px;
	font-size: em(14);
	&.btn-lg {
		padding: 15px 55px;
		font-size: em(16);
	}
	&.btn-sm {
		padding: 10px 45px;
		font-size: em(14);
	}
	&.btn-xs {
		padding: 5px 35px;
		font-size: em(12);
	}
}

.btn {
	&-block {
		display: block;
		width: 100%;
		text-align: center;
	}
}