body{
	padding: 0;
	margin: 0;
	font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
}
.el-list{
	padding:0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
a,a:hover{text-decoration: none;}
ol,ul{list-style: none;}
.clear .clearfix{clear:both;}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after{clear: both;}
/*powla zawarka*/
.header{
	background:url(../img/bg-menu.png) center center / cover no-repeat;
		width:100%;
}
.container,
.container-team{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
	justify-content: center;
}
.container-menu{
	display: flex;
	justify-content: space-between;
	width: 960px;
}
.burger_trigger{
	display: block;
	position: absolute;
	top: 7px;
	left: 150px;
	height: 75px;
	width: 100px;
}
.burger{
	display: flex;
	position: absolute;
	height: 4px;
	width: 50px;
	background-color: #2894a8;
	border-radius: 10px;
	left: 170px;
	top: 30px;
}
.burger:before,
.burger:after{
	content: "";
	display: block;
	position: absolute;
	height: 4px;
	width: 50px;
	background-color: #2894a8;
	border-radius: 10px;
	top: 10px;
}
.burger:after{
	top: 20px;
}
@media(min-width: 679px){
	.burger{
		display:none; 
	}
}
.logo-item{
	padding-top: 6px;
}
.logo-item img{
	margin-top: 15px;
	color: #2894a8;
}
.logo-item li{
	margin-right: 8px;
	font-size: 30px;
  font-family: "Roboto";
  color: #2894a8;;
  text-align: center;
}
.logo-item li:last-child{
	margin-right:0;
}
.logo ul{
	display: flex;
	align-items: center;
}
.nav{
	display: flex;
	justify-content: space-around;
	margin-top: 35px;
}
.nav li{
	margin-right: 24px;
}
.nav li:last-child{
	margin-right: 0;
}
.nav li a{
  font-size: 13px;
  font-family: "Roboto";
  color: #fff;
  text-align: right;
  text-transform: uppercase;
}
.nav li a:hover{
	color: #00e0d0;
}
@media(max-width: 680px){
	.container-menu{
		display: flex;
		justify-content: flex-start;
	}
	.nav{
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		margin:25px 0 0 110px;
		background: #222;
		padding: 20px;
		border-radius: 15px;
	}
	.nav li{padding:3px;}
}
.first-block{
	padding-bottom: 70px;
	 text-align: center;
		position: relative;
}
.container-col{
	padding-bottom: 150px;
}
.header-slider-item,
.header-slider-items{
	position: relative;
}
.title-containere,
.title-container{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.title-containere{
		margin-top: 38px;
	  position:absolute;
    left: 50%;
    top: 31%;
    transform: translate(-50%, -31%);
}
.title-team{
font-size: 22px;
color: white;
}
.first-block .border-slider{
	width: 30px;
	height: 1px;
	border-bottom: 1px solid #00e0d0;
}
.first-block .title{	
	font-size: 32px;
  font-family: "PlayfairDisplay";
  color: rgb( 255, 255, 255 );
  text-align: center;
	latter-spacing:-0.01em;
}
.first-block .desc{
		margin-top: 55px;
		margin-bottom: 52px;
    font-size: 14px;
	  font-family: "Roboto";
	  color: rgb( 255, 255, 255 );
	  line-height: 1.714;
	  text-align: center;
    letter-spacing: 0.05em;
    color: white;
}
.some-title{
	position: relative;
}
.some-title:before{
	position: absolute;
	top: 100%;
	left:44.5%;
	display: flex;
	justify-content: center;
	height: 1px;
	width:75px;
	background-color: #00e0d0;
	content: " ";
}
@media(max-width:940px){
	.some-title:before{
		left:40.5%;
	}
}
.btn-slider,
.btn-normal-amazing,
.btn-our-works{
	display: flex;
	justify-content: center;
	border: none;
	margin: 0 auto;
	padding: 14px;
	font-size: 16px;
  font-family: "HammersmithOne";
  text-align: center;
  text-transform: uppercase;
	color: #00e0d0;
	border: 1px solid #00e0d0 ;
	border-radius: 3px;
	background: transparent;
}
.btn-slider:hover,
.btn-normal:hover,
.btn-normal-amazing:hover{
	color: red;
	background: transparent;
}
.slick-next{
	right: 25px;
	opacity: 0.001;
}
.custom-label{
	position: relative;
	display: block;
	padding: 8px 0;
	text-align: left;
	line-height: 30px;
}
.slick-dots{
	margin-top: -200px;
}
.slick-dots button{
	position: absolute;
	opacity: 0;
}
.slick-dots li button{
	background:  #000;
	color: red;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #fff ;
	border-radius: 50%;
}
.slick-dots li button:active + .slick-dots button::before{
	position: absolute;
	display: inline-block;
	top:50%;
	left:50%;
	margin-top: -8px;
	margin-left: -8px;
	width: 16px;
	height: 16px;
	background-color: #00e0d0;
	content: " ";
}
													/*  our story*/
.our-story{
	background: #fff;
}
.big-logo,
.content-story{
	padding-top: 70px;
}
.content-story{
	padding-top: 47.4px;
}
.big-logo{
	justify-content: flex-start;
	margin: 0 100px 0 60px;
}
@media(max-width: 599px){
	.big-logo{
		display: none;
	}
	.content-story{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.content-story>.black-title{
		display: flex;
		justify-content: center;
		width: 200px;
		margin: 0 auto;
	}
}
.btn-normal{
	display: flex;
	justify-content:flex-start;
	border: none;
	padding: 14px;
	font-size: 16px;
  font-family: "HammersmithOne";
  text-align: center;
  text-transform: uppercase;
	color: #00e0d0;
	border: 1px solid #00e0d0 ;
	border-radius: 3px;
	background: transparent;
	margin-bottom: 70px;
}
.black-title,
.black-title-love,
.black-title-love-a,
.black-title-form,
.black-title-client{
	display: flex;
	justify-content: flex-start;
	width:100%;
	font-size: 22px;
	height: 20px;
	padding: 0;
  font-family: "PlayfairDisplay";
  color: rgb( 65, 61, 75 );
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}
.content-story p{
	justify-content:space-between;
	width: 100%;
	padding-bottom: 30px;
	justify-content: space-around;
}
.content-story p{
  font-size: 14px;
  font-family: "Roboto";
  color: rgba( 65, 61, 75, 0.749 );
  line-height: 1.571;
}
											/* video section*/
.video{
	width: 100%;
	background: url(../img/bg-video.png) center center / cover  no-repeat;
}
.contaier-col{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.story-watch{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.story-watch:hover{
	background: #ebebeb;
	color: purple;
	border:4px solid #7f0343;
}
.story-watch {
	width: 45px;
	height: 55px;
	margin: 200px 0 0 19px;
	font-size: 35px;
	padding: 24px 24px 24px 30px;
	color: white;
	border: 4px solid #fff;
	border-radius: 50%;
	line-height:50;
	text-align: left;
}
.video-story{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.video-story{
	margin-top: 35px;
  font-size: 16px;
  width: 160px;
  height: 20px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  text-align: center;
}
.expertise{
	width: 100%;
	background:#fff;
}
 .expert{
 	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content:center;
	align-self: center;
	text-align: center;
	width:100%;
 }
.blu-title,
.blu-title-a{
	display: flex;
	justify-content: center;
	align-self: center;
  font-size: 22px;
  font-family: "PlayfairDisplay";
  color: rgba( 47, 45, 53, 0.749 );
  text-align: center;
  width: 100%;
  margin: 15px 0;
  height: 20px;
}
.black-title-love,.black-title-love-a{
	margin-top: 70px;
	justify-content: center;
	font-size: 16px;
}
.some-title-ex{
	position: relative;
	display: flex;
}
.some-title-ex:before{
	position: absolute;
	top: 100%;
	left:46%;
	display: flex;
	justify-content: center;
	height: 3px;
	width:75px;
	background-color: #c6c4c9;
	content: " ";
}
.row,
.row-up{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width:100%;
	height: auto;
}
.row{
	padding-bottom: 60px;
}
@media(max-width: 996px){
	.row{
		justify-content: center;
	}
}
@media(max-width: 995px){
	.row-up{
		justify-content: center;
	}
}
.service-item{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content:center;
	align-self: center;
	text-align: center;
	width: 310px;
	height: 300px;
}
.service-item .item-icon{
	width: 197px;
	font-size: 68px;
	text-align:center;
	color: #00e0d0;
	align-self: center;
	padding: 38px 0 20px 0;
}
.service-item + .service-item{
	margin-left: 1%;
}
.service-item .item-title,
.service-item .item-desc{
  font-size: 14px;
  font-family: "Roboto";
  color: rgb( 65, 61, 75 );
  text-align: center;
  line-height: 1.6;
  padding:10px 35px;
}
.service-item .item-title{
  font-size: 14px;
  font-family: "Roboto";
  color: rgb( 65, 61, 75 );
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.service-item .item-desc{
  font-size: 14px;
  font-family: "Roboto";
  color: rgba( 51, 51, 51, 0.749 );
  line-height: 1.571;
  text-align: center;
}
.amazing{
	width: 100%;
	background: url(../img/bg-user.png) center center / cover  no-repeat;
	padding-bottom: 70px;
}
.black-title-love-a,
.black-title-love,
.blu-title-a{
	color: white;
  font-size: 22px;
  font-family: "PlayfairDisplay";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-align: center;
}
.black-title-love{
	color: rgb( 65, 61, 75 );
}
.blu-title-a{
	font-size: 14px;
}
.row-up{
	margin-top: 45px;
}
.amazing-item{
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content:center;
	align-self: center;
	text-align: center;
	width: 220px;
	border: 2px solid #837e97;
}
.amazing-item .azaza{
	width: 220px;
	height: 230px;
	background:url(../img/girl/22.jpg);
	background-size: 100%;
	text-align:center;
	align-self: center;
}
.amazing-item{
	margin-left: 15px;
}
.amazing-item .item-titles,
.amazing-item .item-descs{
	padding: 5px 0;
	display: flex;
	justify-content: center;
  font-size: 14px;
  font-family: "Roboto";
  color:white;
  text-align: center;
  line-height: 1.6;
}
.amazing-item .item-titles{
	padding-top: 10px;
  font-size: 14px;
  font-family: "Roboto";
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.4;
}
.amazing-item .item-descs{
	padding-bottom: 2px;
  font-size: 14px;
  font-family: "Roboto";
  color: white;
  line-height: 1.6;
  text-align: center;
}
.amazing-item:hover{
	border: 2px solid #00e0d0;
}
.title-containere .item-titles,
.title-containere .item-descs{
	display:block;
	color: #fff;
	}
.amazing-end{
	display: flex;
	justify-content: center;
	margin-top: 70px;
	padding: 5px;
  font-size: 14px;
  font-family: "Roboto";
  color: rgb( 243, 243, 243 );
  text-align: center;
  line-height: 1.4;
}
.btn-normal-amazing{
margin-top: 18px;
}

											/* our wprks*/
.our-works-block{
	padding-bottom: 70px;
	background: #fff;
}
.our-works{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 960px;
	padding: 0 10px;
	height:160px;
}										
.amazing-end-our-works {
	margin-top: 5px;
	display: flex;
	width: 300px;
	align-items: center;
	justify-content: center;
  font-size: 14px;
  font-family: "Roboto";
  color: rgb( 65, 61, 75 );
  text-align: right;
  line-height: 1.3;
}
.amazing-end-our-works img{
	width: 11px;
	padding:7px;
}
.dribble{
	margin: 0 auto;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.dribble-row{
	display: flex;
	flex-direction: row;
}
.dribble-item{
	width: 265px;
	height: 200px;
	background: #222;
	border: 0.5px solid #222;
}
.dribble-item:nth-child(2n){
background: url(../img/girl/23.jpg);
background-size: cover;
}
.dribble-item:nth-child(odd){
	background: url(../img/girl/22.jpg);
	background-size: cover;
}
@media(max-width: 600px){
	.dribble{
		display: none;
	}
}
.btn-our-works{
	display: flex;
	justify-content: flex-end;
	margin-top: 70px;
}
.btn-our-works:hover{
	background: purple;
}
.my-team{
	position: relative;
	background: url(../img/bg-menu.png) center center / cover no-repeat;
	text-align: center;
	color: #000;
	padding-bottom: 50px;
}
.my-team>.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    display: inline-block;
}
.header-slider-items>.container{
	   max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    display: inline-block;
}
.header-slider-items{
	height: 400px;
}
.container-team{
	display: inline-block;
	max-width: 450px;
}
.carousel-slider{
	margin-left: 14px;
}
.carousel-slider-item{
	display: inline-block;
	width: 46px;
	height: 46px;
	text-align: center;
	margin:10px 12px;
}
.carousel-slider-item img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
.carousel-slider-arrow{
	margin:-5px 0 -50px -60px;
}
.arrow-prev,
.arrow-next{
	display: inline-block;
	background-size: 100%;
	line-height: 70px;
	text-align: center;
	font-size: 35px;
	color: #c6c4c9;
}
.arrow-next{
	margin:0 60px -52px 450px;
	z-index: 9999;
	padding: 2px;
}
.arrow-prev{
	margin:0 30px -51px 100px;
	z-index: 999;;
	padding: 2px;
	background-size: 100%;
}
.js-header-slider{
	height: 520px;
}
.js-header-slider.slick-next{
	opacity: 0;
	right: 15px;
}
.slick-dots>.slick-active{
	background: #198092;
}
.slick-dots li{
	width: 11px;
	height: 11px;
}
.slick-center{
	transform: scale(1.3);
}
.title-containere>.item-descs{
	margin-top: 12px;
}
 .desc-team{
		margin-top: 35px;
		margin-bottom: 52px;
    font-size: 14px;
	  font-family: "Roboto";
	  color: rgb( 255, 255, 255 );
	  line-height: 1.714;
	  text-align: center;
    letter-spacing: 0.05em;
    color: white;
}
					/*  forma- client*/
.forma{
	background: #fff;
	padding-bottom: 50px;
}
.forma>.container{
	display: flex;
 justify-content: space-between;
}
.form-news,
.client{
	display: flex;
	justify-content: space-between;
}
@media(max-width: 872px){
	.forma>.container{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.form-news,
	.client{
	align-self: center;
}
.form-news>.black-title-form,
	.be>.black-title-client{
		display: flex;
    justify-content: center;
    width: 400px;
    margin: 40px auto;
	}
}
.black-title-form,
.black-title-client{
	margin-top: 70px;
	line-height: 1.5;
}
.form-news{
	width: 450px;
	flex-direction: column;
}
form{
	margin-top: 20px;
}
input,textarea{
	outline: none;
}
.form-item,textarea{
	width: 100%;
	padding: 15px;
	border: 1px solid #e5e5e5;
	margin-bottom: 21px;
}
form>.btn-slider{
	margin: 0;
}
.field-wrap{
	position: relative;
	margin-bottom: 20px;
}
label.error{
	position: absolute;
	right: 0;
	bottom: 4px;
	font: 300 10px 'Roboto';
	margin: 22px;
	color: red;
}
.form-item.error,textarea.error{
border-color: red;
}
.client{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	width: 380px;
}
.be{
	width: 100%;
}
.column-one,.column-two{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 160px;
	align-items: center;
}
.column-one img,
.column-two img{
	margin-bottom: 45px;
}
						/*podval*/
.podval{
	background: url(../img/bg-footer.png) center top / cover  no-repeat;
}

.podval-item{
	display: flex;
	justify-content:flex-start;
	flex-direction: column;
	width: 290px;
	margin-top: 70px;
	margin-right: 70px;
}
.podval-item:last-child{
	margin-right: 0;
}
@media(max-width:840px){
.podval>.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.podval-item{
	margin:10px 0;
}

}
.footer-nav{
	margin-bottom:34px;
}
.footer-nav{
  font-size: 15px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
}
.podval-item img{
	display: flex;
}
.podval-desc{
	display: flex;
  font-size: 14px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  line-height: 1.857;
  text-align: left;
}
.navs{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 16.4px;
}
.navs img{
	width: 16px;
	height: 18px;
	margin-right: 10px;
}
.navs>.podval-desc,
.phone{
	padding: 0;
	margin: -2px;
	width: 270px;
}
.phone {
	color: #fff;
	cursor: pointer;
	align-self: center;
}
.phone:hover{
	color: #198092;
}
.logo-podval{
	display: flex;
	align-items: center;
	color: #198092;
	margin: 0;
	padding: 0;
  font-size: 30px;
  font-family: "Roboto";
  text-align: center;
}
.logo-podval li:nth-child(2){
	padding-left: 10px;
}
					/*forma*/
.our-letter{
	width: 210px;
	padding: 15px;
	border: 1px solid  #9e98b0;
	color: #c4c0cf;
	background: transparent;
}
.plane{
	position: relative;
	width: 70px;
	height: 47px;
	z-index: 999;
	opacity: 0;
  background: none;
 	outline: none;
 	-webkit-appearance:none;
 	border: none;
 	vertical-align: middle;
	cursor: pointer;
}
.submit-btn{
	position: absolute;
	width: 40px;
	font-size: 45px;
	color:#fff;
	line-height: 20px;
	margin:-47px 0 0 220px;
}
.list-sprite{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 20px 32.1px 0 0;
	padding-bottom: 15px;
}
.list-sprite li{
	width: 18px;
	height: 18px;
	margin-right: 6px;
	padding:10px;
	border: 1px solid #fff;
	border-radius: 50%;
}
.list-sprite li:hover{
	background: red;
}
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: flex;
}
.sprite-dribbble4 {
    width: 16px;
    height: 20px;
    background-position: -15px -15px;
}
.sprite-facebook251 {
    width: 14px;
    height: 20px;
    background-position: -61px -15px;
}
.sprite-google26 {
    width: 15px;
    height: 14px;
    background-position: -98px -15px;
}
.sprite-instagram31 {
    width: 15px;
    height: 15px;
    background-position: -143px -15px;
}
.sprite-twitter161 {
	margin-top: 2px;
    width: 14px;
    height: 11px;
    background-position: -188px -15px;
}
.sprite-youtube13 {
	margin-top: 2px;
    width: 17px;
    height: 11px;
    background-position: -232px -15px;
}
.second-menu {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	margin: 58px 0 40px 0;
}
.second-menu ul{
	display: flex;
	justify-content: flex-start;
	width: 640px;
	padding: 0;
	margin: 0;
	-webkit-padding-start: 0;
}
.second-menu li{
	padding: 10px;
	margin-right: 30px;
	text-transform:uppercase;
}
.second-menu li:last-child{
	margin-right: 0;
}
.second-menu li:nth-child(1){
	padding-left: 0;
}
.second-menu a{
  font-size: 14px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  line-height: 1.857;
}
.second-menu a:hover{
	color: #198092;
}
.second-menu>div{
	display: flex;
	justify-content: flex-end;
	width: 300px;
  font-size: 14px;
  font-family: "Roboto";
  color: rgb( 255, 255, 255 );
  line-height: 3.33;
  text-align: center;
  margin-right: 30px;
}








